n8n_workflow_feedback_email_automation.json
{
  "name": "Feedback Email Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hasheket-trigger",
        "options": {}
      },
      "id": "00ac44a2-46d3-4da7-97ff-f74ef8e40df4",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2816,
        384
      ],
      "webhookId": "hasheket-trigger"
    },
    {
      "parameters": {
        "jsCode": "const CLIENT_ID = 'aZ3kLm9PqR2sT7uVxY1bC4dE5fG6hI8jK0nO3pQ4rS5tU6vW7xY8zA9B1C2D3E4F5G6H7I8J9K0LmN1oP2qR3';\nconst API_BASE            = 'https://portal.hspension.co.il/usilenceApi/api';\nconst START_DATE          = '2022-01-01';\nconst TOP                 = 10000;\nconst ACCOUNT_MANAGER_EMAIL = 'e.shpigelman@hspension.co.il';\n\nreturn [{ json: { CLIENT_ID, API_BASE, START_DATE, TOP, ACCOUNT_MANAGER_EMAIL } }];"
      },
      "id": "d920a65e-956c-4fed-bc69-46b2102a504b",
      "name": "Code: Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const tokenRow = $input.first().json;\nconst config   = $('Code: Config1').first().json;\n\nconst access_token = tokenRow.access_token;\nif (!access_token) {\n  throw new Error('לא התקבל access_token מה-Token Manager. תשובה: ' + JSON.stringify(tokenRow));\n}\n\nreturn [{ json: {\n  access_token,\n  API_BASE:              config.API_BASE,\n  START_DATE:            config.START_DATE,\n  TOP:                   config.TOP,\n  ACCOUNT_MANAGER_EMAIL: config.ACCOUNT_MANAGER_EMAIL\n} }];"
      },
      "id": "f9330ac8-a2a8-4550-aada-fa2bcd553e87",
      "name": "Code: Extract Token1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        608
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1uEm-LMnoj7gdXPeK9TxcmkqSyfDDk07c",
          "mode": "list",
          "cachedResultName": "error_code_mapping_v2.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uEm-LMnoj7gdXPeK9TxcmkqSyfDDk07c/edit?usp=drivesdk&ouid=103830487809603495701&rtpof=true&sd=true"
        },
        "options": {}
      },
      "id": "b441f013-de61-4f49-a31b-21330da1b111",
      "name": "Google Drive: Download Mapping1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        3408,
        816
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HIfWAjb2gAMN8Krr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "fabc2deb-d95d-43c9-9994-02b9c5d0717c",
      "name": "Merge: Token + Mapping1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        3664,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hasheket-runner-977634044307.me-west1.run.app/run-pilot/from-api-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "=={{ $json.access_token }}"
            },
            {
              "name": "api_base",
              "value": "=={{ $json.API_BASE }}"
            },
            {
              "name": "start_date",
              "value": "=={{ $json.START_DATE }}"
            },
            {
              "name": "top",
              "value": "=={{ $json.TOP.toString() }}\n"
            },
            {
              "name": "account_manager_email",
              "value": "=={{ $json.ACCOUNT_MANAGER_EMAIL }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "mapping",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "b94aecde-6a8a-4814-97fb-44fbd1f7d470",
      "name": "HTTP: Runner /from-api1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3872,
        720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jGkXTQXuG5v1bWiY",
          "name": "Cloud Run API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// קורא ישירות מ-Runner — לא תלוי בחיבור הפיזי של ה-node\nconst result = $('HTTP: Runner /from-api1').first().json;\nif (!result.ok) {\n  throw new Error('Runner החזיר שגיאה: ' + (result.message || JSON.stringify(result)));\n}\n// update_chunks: מערך של batches מוכנים (עד 1000 רשומות כל אחד)\n// כל פריט יישלח ב-POST אחד ל-SetFeedbackStatusBatch\nconst chunks = result.update_chunks || [];\nif (chunks.length === 0) {\n  return [{ json: { chunk: [], chunk_index: 1, total_chunks: 0 } }];\n}\nreturn chunks.map((chunk, i) => ({\n  json: { chunk, chunk_index: i + 1, total_chunks: chunks.length }\n}));"
      },
      "id": "66e5580e-8240-48dd-99df-6cd63036b059",
      "name": "Code: Split Update Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        720
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5ed10e72-d4aa-483b-aa72-7c2377fbc7eb",
      "name": "Split in Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4960,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.hspension.co.il/usilenceApi/api/services/AutomationFeedback/SetFeedbackStatusBatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code: Extract Token1').first().json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_version",
              "value": "1.0"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.chunk) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ffc29789-4d25-4c13-8ee8-9723c43f52a8",
      "name": "HTTP: POST Update to David1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5168,
        720
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// תגובת SetFeedbackStatusBatch:\n//   []                             → הכל עבר בהצלחה\n//   [{success:false, message, ...}] → יש כשלונות (רק הכושלים)\nconst item = $input.first();\nconst response = item.json;\nconst chunkIndex = item.json.chunk_index || '?';\n\n// [] = הצלחה מלאה (n8n ממיר ריק ל-object ריק, או מערך ריק)\nconst isArray = Array.isArray(response);\nconst failures = isArray ? response.filter(r => r.success === false) : [];\n\nif (!isArray || failures.length === 0) {\n  console.log(`✅ [Chunk ${chunkIndex}] SetFeedbackStatusBatch: כל הרשומות נקלטו בהצלחה`);\n} else {\n  // לא עוצרים — רושמים ל-log ומשיכים\n  console.error(\n    `⚠️ [Chunk ${chunkIndex}] SetFeedbackStatusBatch: ${failures.length} כשלונות`,\n    JSON.stringify(failures)\n  );\n}\n\nreturn $input.all();"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Code: Handle Batch Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        720
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "3846a691-80f9-4670-8f16-637a855b9230",
      "name": "Wait: Delay1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5360,
        720
      ],
      "webhookId": "c84a483b-5e31-45b5-9845-5afb7c1677cb"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UXW9G2gStavLTG3T",
          "mode": "list",
          "cachedResultUrl": "/workflow/UXW9G2gStavLTG3T",
          "cachedResultName": "AI automation  — refresh token feedback email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3216,
        608
      ],
      "id": "536dbc28-8f21-4198-b015-7707b988222a",
      "name": "Call 'refresh token feedback email'1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2832,
        608
      ],
      "id": "53088c3d-cbef-4326-8428-fcc3fc56abac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst b64 = item.json.report_xlsx_b64;\nconst stats = item.json.stats || {};\nconst date = new Date().toLocaleDateString('he-IL');\n\nreturn [{\n  json: {\n    filename: `run_report_${new Date().toISOString().slice(0,10)}.xlsx`,\n    subject: `דו\"ח היזון חוזר — ${date}`,\n    body: `שלום עידו,\\n\\nמצורף דו\"ח ריצה מתאריך ${date}.\\n\\nסיכום:\\nרשומות שהתקבלו: ${stats.fetched || 0}\\nטופלו: ${stats.classified || 0}\\nמיילים נשלחו: ${stats.emails_ok || 0}\\n\\nבברכה`,\n  },\n  binary: {\n    attachment: {\n      data: b64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: `run_report_${new Date().toISOString().slice(0,10)}.xlsx`,\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        720
      ],
      "id": "c826e568-c315-42a2-99e5-2f2d107d35bb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "niravivi@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4272,
        496
      ],
      "id": "c7847d01-6c96-4f97-b599-7fc1a39ba6e3",
      "name": "Send a message",
      "webhookId": "7a426370-8da8-4027-9e43-f7206bac7e91",
      "credentials": {
        "gmailOAuth2": {
          "id": "GJVEdp7PY46BHuE4",
          "name": "ai.hpension.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const runnerOutput = $('HTTP: Runner /from-api1').first().json;\nconst cmReports = (runnerOutput.cm_reports || []);\nconst date = new Date().toLocaleDateString('he-IL');\nif (cmReports.length === 0) return [];\nreturn cmReports.map(cm => ({\n  json: {\n    to_email: cm.email,\n    cm_name: cm.name,\n    subject: 'דו\"ח היזון חוזר — ' + date,\n    body: 'שלום ' + cm.name + ',\\n\\nמצורף דו\"ח ריצה מתאריך ' + date + '.\\nהדו\"ח כולל את כל הרשומות המיועדות לטיפולך.\\n\\nבברכה',\n  },\n  binary: {\n    attachment: {\n      data: cm.report_b64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: 'דוח_' + (cm.name || 'CM').replace(/ /g, '_') + '_' + new Date().toISOString().slice(0,10) + '.xlsx',\n    }\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4272,
        720
      ],
      "id": "607fc43c-e277-46f6-a49c-c52f0dc1e136",
      "name": "Code: Split CM Reports"
    },
    {
      "parameters": {
        "sendTo": "avigail@hspension.co.il",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4480,
        720
      ],
      "id": "0016cf65-d890-43f5-840b-0b4b9978d211",
      "name": "Gmail: Send CM Reports",
      "webhookId": "1745f1bb-757f-4fb9-b975-eea1cde012f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "GJVEdp7PY46BHuE4",
          "name": "ai.hpension.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code: Config1": {
      "main": [
        [
          {
            "node": "Google Drive: Download Mapping1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'refresh token feedback email'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Token1": {
      "main": [
        [
          {
            "node": "Merge: Token + Mapping1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Download Mapping1": {
      "main": [
        [
          {
            "node": "Merge: Token + Mapping1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Token + Mapping1": {
      "main": [
        [
          {
            "node": "HTTP: Runner /from-api1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Runner /from-api1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Update Payload1": {
      "main": [
        [
          {
            "node": "Split in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches1": {
      "main": [
        [
          {
            "node": "HTTP: POST Update to David1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: POST Update to David1": {
      "main": [
        [
          {
            "node": "Code: Handle Batch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Batch Response": {
      "main": [
        [
          {
            "node": "Wait: Delay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: Delay1": {
      "main": [
        [
          {
            "node": "Split in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'refresh token feedback email'1": {
      "main": [
        [
          {
            "node": "Code: Extract Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code: Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code: Split CM Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split CM Reports": {
      "main": [
        [
          {
            "node": "Gmail: Send CM Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa0de04b-0be5-4d8b-90f6-681bd3068c0b",
  "meta": {
    "instanceId": "767fd9268974244a27add4b14a52464d0a5a6e522dd4e7bfb45f8fc8e028d18e"
  },
  "id": "gKSbbZjPZVhDcKea",
  "tags": []
}