n8n_workflow_pilot_draft_no_exec.json
{
  "name": "Pilot → Gmail Draft (דוגמה) [ללא הרצת Python בתוך n8n]",
  "nodes": [
    {
      "parameters": {},
      "id": "f66f1d2b-faa3-4c43-ae44-cc6ee7d788a7",
      "name": "טריגר ידני",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        220
      ]
    },
    {
      "parameters": {
        "filePath": "C:\\Users\\nirav\\Avivi-Solutions\\השקט שלך\\Pilot_Results_v2.xlsx"
      },
      "id": "1ccddbb3-826f-46f7-9b77-5f3a5e69d2c2",
      "name": "קריאת Pilot_Results_v2.xlsx",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "sheetName": "Drafts"
        }
      },
      "id": "a0f3df62-5cba-4448-9720-3e22b0a6ad62",
      "name": "קריאת גיליון Drafts (Excel → JSON)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function safe(v) { return v === null || v === undefined ? '' : String(v); }\n\nconst rows = items.map(i => i.json);\nif (!rows.length) {\n  return [{ json: { to: '', subject: 'Pilot: אין נתונים לשליחה', message: 'לא נמצאו שורות בגיליון Drafts.' } }];\n}\n\nfunction groupKey(r) {\n  return [\n    safe(r.CustomerNumber),\n    safe(r.KodKupa_IdentityNumber),\n    safe(r.KodKupa_IncomeTax),\n    safe(r.ErrorCode),\n    safe(r.Responsibility)\n  ].join('||');\n}\n\nconst groups = new Map();\nfor (const r of rows) {\n  const k = groupKey(r);\n  if (!groups.has(k)) groups.set(k, []);\n  groups.get(k).push(r);\n}\n\nconst firstKey = groups.keys().next().value;\nconst group = groups.get(firstKey);\nconst sample = group[0];\n\nconst byWeek = new Map();\nconst uniqueEmployees = new Set();\nfor (const r of group) {\n  const emp = safe(r.EmployeeID);\n  if (emp) uniqueEmployees.add(emp);\n  const w = Number(r.DurationWeeks || 1);\n  const bucket = Number.isFinite(w) ? (w > 5 ? '>5' : String(w)) : '1';\n  if (!byWeek.has(bucket)) byWeek.set(bucket, new Set());\n  if (emp) byWeek.get(bucket).add(emp);\n}\n\nconst buckets = ['1','2','3','4','5','>5'];\nconst lines = buckets\n  .filter(b => byWeek.has(b))\n  .map(b => `שבוע ${b}: ${byWeek.get(b).size}`);\n\nconst customer = safe(sample.CustomerNumber);\nconst fundId = `${safe(sample.KodKupa_IdentityNumber)}-${safe(sample.KodKupa_IncomeTax)}`;\nconst err = safe(sample.ErrorCode);\nconst resp = safe(sample.Responsibility);\n\nconst subject = `Pilot Draft (דוגמה): מעסיק ${customer} | קופה ${fundId} | קוד ${err} | ${resp}`;\n\nconst message = [\n  'שלום,',\n  '',\n  'זהו מייל דוגמה שנוצר אוטומטית מ-Pilot_Results_v2.xlsx (גיליון Drafts).',\n  '',\n  `מעסיק: ${customer}`,\n  `קופה: ${fundId}`,\n  `קוד שגיאה: ${err}`,\n  `אחריות: ${resp}`,\n  '',\n  `כמות ת.ז. ייחודיות בקבוצה: ${uniqueEmployees.size}`,\n  lines.length ? 'התפלגות לפי שבועות: ' + lines.join(' | ') : '',\n  '',\n  'מצורף: Pilot_Results_v2.xlsx',\n  '',\n  'תודה'\n].filter(Boolean).join('\\n');\n\nconst to = $env.GMAIL_TEST_TO || 'your@email.com';\nreturn [{ json: { to, subject, message } }];"
      },
      "id": "f8d7f7f6-6c7a-4f4d-97e2-1ffca9cd2e6a",
      "name": "בניית מייל דוגמה (קבוצה ראשונה)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "f0f2adbb-88ba-4fbd-b041-e09a2b29cc8d",
      "name": "מיזוג (מייל + קובץ כמצורף)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1300,
        220
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "toList": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.message}}",
        "attachmentsBinary": "data"
      },
      "id": "6a7f6b1c-0c0a-4a77-8e4a-cd8bfb7e1d5f",
      "name": "Gmail: יצירת Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1560,
        220
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "טריגר ידני": {
      "main": [
        [
          {
            "node": "קריאת Pilot_Results_v2.xlsx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "קריאת Pilot_Results_v2.xlsx": {
      "main": [
        [
          {
            "node": "קריאת גיליון Drafts (Excel → JSON)",
            "type": "main",
            "index": 0
          },
          {
            "node": "מיזוג (מייל + קובץ כמצורף)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "קריאת גיליון Drafts (Excel → JSON)": {
      "main": [
        [
          {
            "node": "בניית מייל דוגמה (קבוצה ראשונה)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "בניית מייל דוגמה (קבוצה ראשונה)": {
      "main": [
        [
          {
            "node": "מיזוג (מייל + קובץ כמצורף)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "מיזוג (מייל + קובץ כמצורף)": {
      "main": [
        [
          {
            "node": "Gmail: יצירת Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 3600
  },
  "versionId": "1"
}


