n8n_workflow_api_to_gmail_draft_v2.json
{
  "name": "David API → Render Runner → Gmail Drafts (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hasheket-trigger",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-01-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 300],
      "webhookId": "hasheket-trigger"
    },
    {
      "parameters": {
        "jsCode": "// טוקנים נשמרים אוטומטית אחרי כל refresh — אין צורך לעדכן ידנית\nconst staticData = $getWorkflowStaticData('global');\n\nconst REFRESH_TOKEN = staticData.refresh_token || 'y8mC1Zk4pY0aV7N3xD6sQ2fL9uT5WbH1jE8oP4gK7rS0yU2X6I3qA9tM5cF8nJ1vG4dB7eL0hY2zQ6wP9R3sT1uV5xK8aC4mN0D7';\nconst ACCESS_TOKEN  = staticData.access_token  || 'xT4Zp9A2mX7Qf3H0uR5L1y8B6cWnD2E9Jv4sK0gY7oC1q5P3I6t8VxF2aU9rM4N0dS7eH3jL1wG5b8Z6yT2kQ9pA4mX7R0f3H1u5L';\nconst CLIENT_ID     = 'aZ3kLm9PqR2sT7uVxY1bC4dE5fG6hI8jK0nO3pQ4rS5tU6vW7xY8zA9B1C2D3E4F5G6H7I8J9K0LmN1oP2qR3';\n\nconst API_BASE            = 'https://portal.hspension.co.il/usilenceApi/api';\nconst START_DATE          = '2022-01-01';\nconst TOP                 = 10000;\nconst ACCOUNT_MANAGER_EMAIL = 'e.shpigelman@hspension.co.il';\n\nreturn [{ json: { REFRESH_TOKEN, ACCESS_TOKEN, CLIENT_ID, API_BASE, START_DATE, TOP, ACCOUNT_MANAGER_EMAIL } }];"
      },
      "id": "node-02-config",
      "name": "Code: Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.API_BASE }}/auth/token/refresh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client_id",      "value": "={{ $json.CLIENT_ID }}" },
            { "name": "Authorization",  "value": "=Bearer {{ $json.ACCESS_TOKEN }}" },
            { "name": "api_version",    "value": "1.0" },
            { "name": "Content-Type",   "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "access_token",  "value": "={{ $json.ACCESS_TOKEN }}" },
            { "name": "refresh_token", "value": "={{ $json.REFRESH_TOKEN }}" },
            { "name": "grant_type",    "value": "refresh_token" },
            { "name": "ApiVersion",    "value": "1.0" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-03-refresh",
      "name": "HTTP: Refresh Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp   = $input.first().json;\nconst config = $('Code: Config').first().json;\n\nconst newAccess = resp.access_token || resp.AccessToken || resp.token;\nif (!newAccess) {\n  throw new Error('לא התקבל access_token מה-refresh. תשובה: ' + JSON.stringify(resp));\n}\n\nconst newRefresh = resp.refresh_token || resp.RefreshToken;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.access_token = newAccess;\nif (newRefresh) staticData.refresh_token = newRefresh;\n\nreturn [{ json: {\n  access_token: newAccess,\n  API_BASE:   config.API_BASE,\n  START_DATE: config.START_DATE\n} }];"
      },
      "id": "node-04-extract-token",
      "name": "Code: Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.API_BASE }}/services/AutomationFeedback/GetFeedbackData",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "StartDate",           "value": "={{ $json.START_DATE }}" },
            { "name": "top",                 "value": "={{ $json.TOP }}" },
            { "name": "AccountManagerEmail", "value": "={{ $json.ACCOUNT_MANAGER_EMAIL }}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "node-05-get-feedback",
      "name": "HTTP: Get Feedback Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// אוסף את כל הרשומות (n8n מפצל array לפריטים) ומחזיר item אחד עם JSON string\nconst records = $input.all().map(item => item.json);\nreturn [{ json: { records_string: JSON.stringify(records) } }];"
      },
      "id": "node-06-stringify",
      "name": "Code: Stringify Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": "1dkrqlHosnM-ehExGk9qo4ajjK8JAmh-F",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "node-07-drive-mapping",
      "name": "Google Drive: Download Mapping",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [200, 500],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BgjXpVKQYS9oadSp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "node-08-merge",
      "name": "Merge: Records + Mapping",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pilot-runner-hasheket.onrender.com/run-pilot/from-api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "records",
              "value": "={{ $json.records_string }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "mapping",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "node-09-render",
      "name": "HTTP: Render Runner /from-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (!result.ok) {\n  throw new Error('Render Runner החזיר שגיאה: ' + (result.message || JSON.stringify(result)));\n}\n// מפצל את מערך הרשומות — כל רשומה תשלח POST נפרד ל-SetFeedbackStatus\nreturn result.update_payload.map(item => ({ json: item }));"
      },
      "id": "node-12-extract-payload",
      "name": "Code: Split Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 520]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "node-14-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.hspension.co.il/usilenceApi/api/services/AutomationFeedback/SetFeedbackStatus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Code: Extract Token').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "MISPAR_MEZAHE_RESHUMA", "value": "={{ $json.MISPAR_MEZAHE_RESHUMA }}" },
            { "name": "TreatmentStatus",       "value": "={{ $json.TreatmentStatus }}" },
            { "name": "Counter",               "value": "={{ $json.Counter }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-13-post-david",
      "name": "HTTP: POST Update to David",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 520]
    },
    {
      "parameters": {
        "amount": 500,
        "unit": "milliseconds"
      },
      "id": "node-15-delay",
      "name": "Wait: Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 520]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[
        { "node": "Code: Config", "type": "main", "index": 0 }
      ]]
    },
    "Code: Config": {
      "main": [[
        { "node": "HTTP: Refresh Token",           "type": "main", "index": 0 },
        { "node": "Google Drive: Download Mapping", "type": "main", "index": 0 }
      ]]
    },
    "HTTP: Refresh Token": {
      "main": [[
        { "node": "Code: Extract Token", "type": "main", "index": 0 }
      ]]
    },
    "Code: Extract Token": {
      "main": [[
        { "node": "HTTP: Get Feedback Data", "type": "main", "index": 0 }
      ]]
    },
    "HTTP: Get Feedback Data": {
      "main": [[
        { "node": "Code: Stringify Records", "type": "main", "index": 0 }
      ]]
    },
    "Code: Stringify Records": {
      "main": [[
        { "node": "Merge: Records + Mapping", "type": "main", "index": 0 }
      ]]
    },
    "Google Drive: Download Mapping": {
      "main": [[
        { "node": "Merge: Records + Mapping", "type": "main", "index": 1 }
      ]]
    },
    "Merge: Records + Mapping": {
      "main": [[
        { "node": "HTTP: Render Runner /from-api", "type": "main", "index": 0 }
      ]]
    },
    "HTTP: Render Runner /from-api": {
      "main": [[
        { "node": "Code: Split Update Payload", "type": "main", "index": 0 }
      ]]
    },
    "Code: Split Update Payload": {
      "main": [[
        { "node": "Split in Batches", "type": "main", "index": 0 }
      ]]
    },
    "Split in Batches": {
      "main": [
        [{ "node": "HTTP: POST Update to David", "type": "main", "index": 0 }],
        []
      ]
    },
    "HTTP: POST Update to David": {
      "main": [[
        { "node": "Wait: Delay", "type": "main", "index": 0 }
      ]]
    },
    "Wait: Delay": {
      "main": [[
        { "node": "Split in Batches", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "dff6caa0d5f04afb0ca0da403c7d9d8cc9a42e9d2815efd023ee5c342e4312f6"
  }
}
