n8n_workflow_api_to_gmail_draft_v2.json
{
  "name": "David API → Runner → Gmail Drafts (v3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hasheket-trigger",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-01-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 300],
      "webhookId": "hasheket-trigger"
    },
    {
      "parameters": {
        "jsCode": "const CLIENT_ID = 'aZ3kLm9PqR2sT7uVxY1bC4dE5fG6hI8jK0nO3pQ4rS5tU6vW7xY8zA9B1C2D3E4F5G6H7I8J9K0LmN1oP2qR3';\nconst API_BASE            = 'https://portal.hspension.co.il/usilenceApi/api';\nconst START_DATE          = '2022-01-01';\nconst TOP                 = 10000;\nconst ACCOUNT_MANAGER_EMAIL = 'e.shpigelman@hspension.co.il';\n\nreturn [{ json: { CLIENT_ID, API_BASE, START_DATE, TOP, ACCOUNT_MANAGER_EMAIL } }];"
      },
      "id": "node-02-config",
      "name": "Code: Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UXW9G2gStavLTG3T",
          "mode": "id"
        },
        "options": {}
      },
      "id": "node-03-get-token",
      "name": "Execute Workflow: Get Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [-400, 300]
    },
    {
      "parameters": {
        "jsCode": "const tokenRow = $input.first().json;\nconst config   = $('Code: Config').first().json;\n\nconst access_token = tokenRow.access_token;\nif (!access_token) {\n  throw new Error('לא התקבל access_token מה-Token Manager. תשובה: ' + JSON.stringify(tokenRow));\n}\n\nreturn [{ json: {\n  access_token,\n  API_BASE:              config.API_BASE,\n  START_DATE:            config.START_DATE,\n  TOP:                   config.TOP,\n  ACCOUNT_MANAGER_EMAIL: config.ACCOUNT_MANAGER_EMAIL\n} }];"
      },
      "id": "node-04-extract-token",
      "name": "Code: Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": "1dkrqlHosnM-ehExGk9qo4ajjK8JAmh-F",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        }
      },
      "id": "node-07-drive-mapping",
      "name": "Google Drive: Download Mapping",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [-200, 500],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BgjXpVKQYS9oadSp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "node-08-merge",
      "name": "Merge: Token + Mapping",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [50, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pilot-runner-hasheket.onrender.com/run-pilot/from-api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "api_base",
              "value": "={{ $json.API_BASE }}"
            },
            {
              "name": "start_date",
              "value": "={{ $json.START_DATE }}"
            },
            {
              "name": "top",
              "value": "={{ $json.TOP }}"
            },
            {
              "name": "account_manager_email",
              "value": "={{ $json.ACCOUNT_MANAGER_EMAIL }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "mapping",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": { "timeout": 300000 }
      },
      "id": "node-09-runner",
      "name": "HTTP: Runner /from-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 400]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (!result.ok) {\n  throw new Error('Runner החזיר שגיאה: ' + (result.message || JSON.stringify(result)));\n}\n// מפצל את מערך הרשומות — כל רשומה תשלח POST נפרד ל-SetFeedbackStatus\nreturn result.update_payload.map(item => ({ json: item }));"
      },
      "id": "node-12-extract-payload",
      "name": "Code: Split Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "node-14-batch",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.hspension.co.il/usilenceApi/api/services/AutomationFeedback/SetFeedbackStatus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Code: Extract Token').first().json.access_token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "MISPAR_MEZAHE_RESHUMA", "value": "={{ $json.MISPAR_MEZAHE_RESHUMA }}" },
            { "name": "TreatmentStatus",       "value": "={{ $json.TreatmentStatus }}" },
            { "name": "Counter",               "value": "={{ $json.Counter }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-13-post-david",
      "name": "HTTP: POST Update to David",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400]
    },
    {
      "parameters": {
        "amount": 500,
        "unit": "milliseconds"
      },
      "id": "node-15-delay",
      "name": "Wait: Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[
        { "node": "Code: Config", "type": "main", "index": 0 }
      ]]
    },
    "Code: Config": {
      "main": [[
        { "node": "Execute Workflow: Get Token",      "type": "main", "index": 0 },
        { "node": "Google Drive: Download Mapping",   "type": "main", "index": 0 }
      ]]
    },
    "Execute Workflow: Get Token": {
      "main": [[
        { "node": "Code: Extract Token", "type": "main", "index": 0 }
      ]]
    },
    "Code: Extract Token": {
      "main": [[
        { "node": "Merge: Token + Mapping", "type": "main", "index": 0 }
      ]]
    },
    "Google Drive: Download Mapping": {
      "main": [[
        { "node": "Merge: Token + Mapping", "type": "main", "index": 1 }
      ]]
    },
    "Merge: Token + Mapping": {
      "main": [[
        { "node": "HTTP: Runner /from-api", "type": "main", "index": 0 }
      ]]
    },
    "HTTP: Runner /from-api": {
      "main": [[
        { "node": "Code: Split Update Payload", "type": "main", "index": 0 }
      ]]
    },
    "Code: Split Update Payload": {
      "main": [[
        { "node": "Split in Batches", "type": "main", "index": 0 }
      ]]
    },
    "Split in Batches": {
      "main": [
        [{ "node": "HTTP: POST Update to David", "type": "main", "index": 0 }],
        []
      ]
    },
    "HTTP: POST Update to David": {
      "main": [[
        { "node": "Wait: Delay", "type": "main", "index": 0 }
      ]]
    },
    "Wait: Delay": {
      "main": [[
        { "node": "Split in Batches", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "dff6caa0d5f04afb0ca0da403c7d9d8cc9a42e9d2815efd023ee5c342e4312f6"
  }
}
